<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">${jdbc.driverClassName}</property>
		<property name="connection.url">${jdbc.url}</property>
		<property name="connection.username">${jdbc.username}</property>
		<property name="connection.password">${jdbc.password}</property>
		<property name="current_session_context_class">thread</property>
		<property name="dialect">${hibernate.dialect}</property>
		<property name="show_sql">${hibernate.show_sql}</property>
		<property name="format_sql">${hibernate.format_sql}</property>
		<property name="use_sql_comments">${hibernate.use.sql.comments}</property>
		<property name="cache.provider_class">${hibernate.cache.provider_class}</property>
		<property name="cache.use_second_level_cache">$hibernate.cache.use_second_level_cache}</property>
		<property name="cache.use_query_cache">${hibernate.cache.use_query_cache}</property>

		<property name="connection.provider_class">${hibernate.connection.provider_class}</property>

		<!-- C3P0连接池设定 -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 最大连接数 -->
		<property name="hibernate.c3p0.max_size">100</property>
		<!-- 最小连接数 -->
		<property name="hibernate.c3p0.min_size">10</property>
		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
		<property name="hibernate.c3p0.timeout">120</property>
		<!-- 最大的PreparedStatement的数量 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒 -->
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<!-- 每次都验证连接是否可用 -->
		<property name="hibernate.c3p0.validate">true</property>
	</session-factory>
</hibernate-configuration>

